<suite name = "Project name">

    <groups>
        <run>
            <include name = "email"/>
        </run>
    </groups>

    <test name="Module 1">
        <classes>
            <class name="TestNG.demo1.ClassOne"/>
            <class name="TestNG.demo1.ClassTwo"/>
        </classes>
    </test>

    <test name="Module 2">
        <classes>
            <class name="TestNG.demo1.ClassThree"/>
        </classes>
    </test>
</suite>